#loancal {
	width: 375px;
	height: 395px;
	background-color: #000;
	color: #fff;
	margin-left: 275px;
	margin-top: 95px;
	padding-left: 90px;
	padding-top: 20px;
}

#mesi {
	width: 175px;
	height: 20px;
}
#totale {
	width: 175px;
	height: 20px;
}
#tasso_interesse {
	margin-left: 2px;
	width: 175px;
	height: 20px;
}

#Quota_mensile {
	margin-left: 2px;
	width: 175px;
	height: 20px;
}

h1{
	font-size: 40px;
}